body {
border: 90px solid #000000;
background-image:url("http://www.hdwallpapers.in/walls/water_splash_windshield-wide.jpg");
background-attachment: fixed;
}

strong {
  color: white;
  font-size: 150%;
}

em {
  color: white;
}

cite {
  color: white;
  font-size: 220%;
  box-sizing:23%;
}
p {
  color: white;
  font-size: 200%;
  border-radius: 300px;
}
img {
  width: 700px;
  border-radius:1300px;
  margin: 50px;
  border: 10px solid #000000;
}

.header h1 {
  text-align: center;
  font-size: 400%;
  color: white;
  text-shadow:10px;
  background-image: url("http://www.hdwallpapers.in/walls/water_splash_windshield-wide.jpg");
}

a{
  color:white;

}
.Paragraph_box{
  padding: 175px;
  border:150px;solid #000000;
  margin: 250px;
}
.box{
  border: solid;
  margin-right:2px;
}
h2{
  color:white;
  text-align: left;
  font-size: 20px;
}
